{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <div class="row map__intro">
      <h1>Where is Airbnb in Miami?</h1>
      <p>
        Since 2014, home-sharing site Airbnb has been expanding its reach in Miami-Dade County, which consistently ranks among the Top 5 most Airbnb-friendly areas in the country. Miami Beach is the most popular area for Airbnb rentals in the county but the service is also prevalent in other neighborhoods, such as Brickell, downtown Miami, Wynwood, Coconut Grove, Coral Gables and even Doral.
      </p>
    </div>
    <div class="row">
      <img class="map__legend" src="images/map-legend.svg" alt="Map legend">
    </div>
    <div class="row">
      <div id="airbnb-map" class="js-map map" data-url="https://chrisdubya.carto.com/api/v2/viz/8ea72d4c-90b4-11e6-89ea-0e3ebc282e83/viz.json"></div>
    </div>
    <div class="row">
      <p class="citations__source">
        Source: Airbnb
      </p>
      <p class="citations__credit">CHRIS WILLIAMS cwilliams@miamiherald.com</p>
    </div>
    <div class="row">
      <div class="citations__border"></div>
    </div>
  </div>
{% endblock %}
